/* BEGIN EXTERNAL SOURCE */
ul {
padding-left: 1%; width: 98%;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
float:right
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
li {
float:right
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 10%; text-align: center
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 90%
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h5 {
margin-bottom: 1%;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
footer {
text-align: center; color:#49504B
}
/* END EXTERNAL SOURCE */
